# Dependency directories
node_modules/

# Generate output
dist

# Files
.angular
.vscode
src/assets/images/ceo.webp
src/assets/images/meeting.webp
src/assets/images/teaching.webp
src/assets/images/team.webp
src/assets/images/text.webp
src/assets/images/think.webp