<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#intro">
    <img class="logo" src="../assets/images/logo.webp">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="#intro">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#compute">Compute</a>
      <a class="nav-link" href="#about">About</a>
    </div>
  </div>
</nav>

<!-- Intro -->
<div id="intro" class="container-fluid pb-5">
  <p class="intro-content">A new era of mental health diagnosis with smart technology with</p>
  <p class="master-text light">Mental I</p>
  <p class="intro-subcontent">Best demo software created by Thai students</p>
  <div class="row justify-content-md-center pt-3 pb-5">
    <div class="col-sm-2 pb-3">
      <a href="#compute"><button type="button" class="btn btn-getstarted">Get Started</button></a>
    </div>
    <div class="col-sm-2 pt-2">
      <a class="intro-link" href="#development-plan">Development plan</a>
    </div>
  </div>
</div>

<!-- What is Mental Computing -->
<div id="what-mental" class="container pb-5">
  <div class="row justify-content-center">
    <div class="col">
      <p class="header pt-5 pl-3 pr-3">What is <span class="light">Mental Computing</span></p>
      <p class="section2-content"><span style="font-weight: 700;">Mental Computing</span> was born from the idea of ​the
        boy interested in using AI to help diagnose
        human mental tendencies. which is a big problem for people nowadays He therefore came up with an idea to help
        solve the problems and delays of the old system and use technology instead.</p>
      <div class="row justify-content-md-start pl-4 pr-4">
        <div class="col-md-5">
          <a class="s2-link" href="#about">Who is the boy</a>
        </div>
        <div class="col-md-5">
          <a class="s2-link" href="#why-mental">Why Mental Computing</a>
        </div>
      </div>
    </div>
    <div class="col">
      <img class="think-idea" src="../assets/images/think.webp">
    </div>
  </div>
</div>

<!-- Think different -->
<div id="think-different" class="container-fluid pb-5">
  <p class="header text-center">Think <span class="light">different</span></p>
  <div class="row justify-content-md-center mt-2 pl-5 pr-5">
    <div class="col-md-5 mt-5 pl-3 pr-3">
      <div class="card pt-3 pb-3 pl-3 pr-3" style="background-color: #161B22;">
        <div class="card-body">
          <h5 class="card-title think-title"><span style="color: #8D8D8D;">Old</span> diagnosis</h5>
          <p class="card-text text-bullet think-content">The system uses a multiple choice questionnaire.</p>
          <p class="card-text text-bullet think-content">Take a long time.</p>
          <p class="card-text text-bullet think-content">The system can't recommend nearby hospitals if the patient's
            condition is worrisome.</p>
          <p class="card-text text-bullet think-content">Some users were unable to assess their feelings through
            multiple-choice questionnaires.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-5 mt-5 pl-3 pr-3">
      <div class="card pt-3 pb-3 pl-3 pr-3" style="background-color: #161B22;">
        <div class="card-body">
          <h5 class="card-title think-title"><span class="light">Modern</span> diagnosis</h5>
          <p class="card-text text-bullet think-content">Modern systems use AI to process feelings through typing.</p>
          <p class="card-text text-bullet think-content">Take very short time.</p>
          <p class="card-text text-bullet think-content">Recommend nearby hospitals if the patient's condition is
            worrisome.</p>
          <p class="card-text text-bullet think-content">There is a chatbot system that makes users feel like they have
            friends by their side.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- How to use Mental I -->
<div id="how-to-use" class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 mt-5">
      <img class="teach" src="../assets/images/teaching.webp">
    </div>
    <div class="col-md-6 pl-5 pr-5 mt-5">
      <p class="header">How to use the <span class="light">Mental I</span></p>
      <div class="row justify-content-md-start mt-5">
        <div class="col-md-2">
          <div class="number-text">
            <p style="font-size: 20px; color: #FFFFFF;font-family: 'Noto Serif Ahom', serif;
            font-weight: 700; padding-top: 5px;">1</p>
          </div>
        </div>
        <div class="col-md-10">
          <p class="how-to-content">Answer the questions in the text box truthfully.</p>
        </div>
      </div>
      <div class="row justify-content-md-start mt-3">
        <div class="col-md-2">
          <div class="number-text">
            <p style="font-size: 20px; color: #FFFFFF;font-family: 'Noto Serif Ahom', serif;
            font-weight: 700; padding-top: 5px;">2</p>
          </div>
        </div>
        <div class="col-md-10">
          <p class="how-to-content">Send the answer to the system for processing.</p>
        </div>
      </div>
      <div class="row justify-content-md-start mt-3">
        <div class="col-md-2">
          <div class="number-text">
            <p style="font-size: 20px; color: #FFFFFF;font-family: 'Noto Serif Ahom', serif;
            font-weight: 700; padding-top: 5px;">3</p>
          </div>
        </div>
        <div class="col-md-10">
          <p class="how-to-content">Receive initial diagnosis and health advice.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Compute -->
<app-compute></app-compute>

<!-- Development plan -->
<div id="development-plan" class="container">
  <p class="header text-center">Development plan</p>
  <p class="text-center" style="color: #FFFFFF;font-family: 'Lato', sans-serif;
  font-weight: 400; font-size: 16px;">Developed according to user needs through satisfaction assessments</p>
  <div class="card dev-plan-card pl-3 pr-5 pt-3 pb-3 mt-5 mb-5">
    <div class="card-body">
      <p class="card-title version-text"><span class="version-title light">Mental I</span> (Version 1.0.0)</p>
      <p class="card-text version-content text-bullet">Developed a system for detecting positive and negative messages
        typed by users using an API.
      </p>
      <p class="card-text version-content">Release date : 25/12/2022 <i style="color: lawngreen; padding-left: 10px;"
          class="bi bi-check-circle"></i></p>
      <p class="card-text version-content">Last updated : 31/12/2022 <i style="color: lawngreen; padding-left: 10px;"
          class="bi bi-upload"></i></p>
    </div>
  </div>
</div>

<!-- About (Who is the boy && Our team) -->
<div id="about" class="container pl-5 pr-5">
  <div class="row justify-content-md-center">
    <div class="col-md-6 mt-5">
      <img class="ceo" src="../assets/images/ceo.webp">
    </div>
    <div class="col-md-6 mt-5">
      <p class="header">Who is the boy?</p>
      <p class="about-content">Hello, my name is Rati Kaewkam. I am a 16 year old Thai student with a passion for
        science, technology and electronics.
        Being a creative person, I love developing software and inventing electronic devices. So I have a lot of
        software works on GitHub. I also love to find knowledge and read a lot of books.</p>
    </div>
  </div>

  <p class="header ml-2 mt-5">Our team</p><br>
  <div class="row justify-content-md-center">
    <div class="col-md-4 mt-2 pl-3">
      <p class="name">Rati Kaewkam</p>
      <p class="team-content text-bullet">Founder</p>
      <p class="team-content text-bullet">Developer of Mental Computing</p>
      <p class="team-content text-bullet">Idea owner</p>
      <p class="team-content text-bullet">Team manager</p>
    </div>
    <div class="col-md-4 mt-2 pl-3">
      <p class="name">Piyapong Pongruang</p>
      <p class="team-content text-bullet">Logo designer</p>
      <p class="team-content text-bullet">Poster designer</p>
    </div>
    <div class="col-md-4 mt-2 pl-3">
      <p class="name">Anonymous</p>
      <p class="team-content text-bullet">Font designer</p>
      <p class="team-content text-bullet">Questions designer</p>
    </div>
  </div>
  <hr class="divide-line mt-5">
</div>

<!-- Why Mental Computing -->
<div id="why-mental" class="container">
  <p class="header text-center">Why <span class="light">Mental Computing</span></p>
  <p class="why-mental-content">Nowadays, the world is facing a dire situation caused by economic conditions. politics and
    society These causes
    affect the mental state and quality of life of human beings. Many people become negative people all the time
    without
    realizing it. Seeing a doctor is costly or taking a systematic multiple choice mental health assessment is time
    consuming and ineffective. Therefore, the introduction of technology and artificial intelligence to reduce time.
    Helps to diagnose more accurately and faster, it was created as <span style="font-weight: 700;">Mental
      Computing</span>.</p>
</div>

<!-- Join now -->
<div id="join-now" class="container-fluid text-center pb-5 pl-5 pr-5">
  <p class="join-title pt-5">Come together and use it to change the world today</p>
  <p class="join-subtitle pt-3">Diagnose stress in a short time at your fingertips with Mental Computing.</p>
  <div class="row justify-content-md-center">
    <div class="col-md-2">
      <a href="#compute"><button type="button" class="btn btn-getstarted mt-3">Get Started</button></a>
    </div>
    <div class="col-md-2">
      <a href="https://forms.gle/wHpj43YpgL1MaYWKA"><button type="button" class="btn btn-outline-primary mt-3">CSQ</button></a>
    </div>
  </div>
</div>

<!-- Footer -->
<div id="footer" class="container pl-5 pr-5 pb-3">
  <div class="row justify-content-md-center">
    <div class="col-md-4 mt-3">
      <p class="foot-title">Services</p>
      <a href="#compute" class="foot-link">Compute</a><br>
      <a href="https://forms.gle/wHpj43YpgL1MaYWKA" class="foot-link">CSQ Form</a>
    </div>
    <div class="col-md-4 mt-3">
      <p class="foot-title">About</p>
      <a href="#what-mental" class="foot-link">Mental Computing</a><br>
      <a href="#about" class="foot-link">The boy and team</a><br>
      <a href="#why-mental" class="foot-link">Why Mental</a><br>
      <a href="#how-to-use" class="foot-link">How to use</a>
    </div>
    <div class="col-md-4 mt-3">
      <p class="foot-title">Development</p>
      <a href="#development-plan" class="foot-link">Dev plan</a>
    </div>
  </div>
  <hr class="divide-line mt-5">
  <p class="foot-copy text-center pt-3">Copyright © 2022 Mental Computing. All rights reserved.</p>
</div>