<!-- Compute -->
<div id="compute" class="container pt-5 pb-5">
    <p class="header light text-center">Try our system</p>
    <p class="compute-des text-center">Easy to use, fast and effective</p>
    <form class="dataForm pl-5 pr-5 mt-5" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="inputName">What name would you like us to call you?</label>
            <input type="text" class="form-control" id="inputName" formControlName="nameForm">
            <small id="name-help" class="p-error" *ngIf="dataForm.invalid && dataForm.touched">This field cannot be empty.</small>
        </div>
        <div class="form-group">
            <label for="inputCharacter">What type of person do you have, what are your personality and habits?</label>
            <input type="text" class="form-control" id="inputCharacter" formControlName="characterForm">
            <small id="name-help" class="p-error" *ngIf="dataForm.invalid && dataForm.touched">This field cannot be empty.</small>
        </div>
        <div class="form-group">
            <label for="inputManagement">While life is plaguing you, how do you manage with yourself?</label>
            <input type="text" class="form-control" id="inputManagement" formControlName="managementForm">
            <small id="name-help" class="p-error" *ngIf="dataForm.invalid && dataForm.touched">This field cannot be empty.</small>
        </div>
        <div class="form-group">
            <label for="inputLife">What do you think about life during this time?</label>
            <input type="text" class="form-control" id="inputLife" formControlName="lifeForm">
            <small id="name-help" class="p-error" *ngIf="dataForm.invalid && dataForm.touched">This field cannot be empty.</small>
        </div>
        <div class="form-group">
            <label for="inputLesson">Everyone has made mistakes. What lessons did you learn from those mistakes?</label>
            <input type="text" class="form-control" id="inputLesson" formControlName="lessonForm">
            <small id="name-help" class="p-error" *ngIf="dataForm.invalid && dataForm.touched">This field cannot be empty.</small>
        </div>
        <div class="form-group">
            <label for="inputShare">Can you share your happiest and saddest stories and how you feel about what happened?</label>
            <input type="text" class="form-control" id="inputShare" formControlName="shareForm">
            <small id="name-help" class="p-error" *ngIf="dataForm.invalid && dataForm.touched">This field cannot be empty.</small>
        </div>
        <button [disabled]="!dataForm.valid" type="submit" class="btn btn-submit">Submit</button>
    </form>
</div>

<div id="showvalue" *ngFor="let data of exportData" class="container mt-5">
    <p class="content">Hello, <span class="value">{{data.name}}</span>.</p>
    <p class="content">You tend to be <span class="value">{{data.mental}}</span>.</p>
</div>